{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="login-page">

    <div class="login-box">
        <h2>🔐 Admin Login</h2>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <input type="text" name="username"
             placeholder="Username"
             autocomplete="new-password">

           <input type="password" name="password"
            placeholder="Password"
            autocomplete="new-password">
            <button type="submit">Login</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>

</div>

{% endblock %}