{% extends 'base.html' %}

{% block content %}

<!-- HOME -->
<section id="h" class="page home">
    <div class="content">
        <h1>Logistics Management</h1>
        <p>
            Logistics management ensures smooth transportation of goods,
            reduces operational costs, and improves delivery efficiency.
        </p>

        <p>
            We provide end-to-end supply chain solutions for businesses
            across the globe with advanced tracking systems.
        </p>

    </div>
</section>

<!-- SERVICES -->
<section id="s" class="page services">
    <div class="content">
        <h1>Our Services</h1>

        <ul>
            <li>🚚 Road Transport – Reliable land transport</li>
            <li>📦 Warehousing – Secure storage solutions</li>
            <li>📍 Real-time Tracking – Live shipment updates</li>
        </ul>

    </div>
</section>

<!-- ABOUT -->
<section id="a" class="page about">
    <div class="content">
        <h1>About Us</h1>

        <p>
            We are a leading logistics company with years of experience
            in delivering goods safely and efficiently worldwide.
        </p>

        <p>
            Our mission is to provide reliable logistics services using
            modern technology and a skilled workforce.
        </p>

        <p>
            We focus on customer satisfaction, timely delivery,
            and cost-effective solutions.
        </p>
    </div>
</section>

<section id="d" class="page dashboard">
    <div class="content">

        <h1>Dashboard</h1>

        <div class="card-container">

            <div class="card">
                <i class="fas fa-box"></i>
                <h2>120</h2>
                <p>Total Orders</p>
            </div>

            <div class="card">
                <i class="fas fa-truck"></i>
                <h2>45</h2>
                <p>Vehicles</p>
            </div>

            <div class="card">
                <i class="fas fa-user"></i>
                <h2>30</h2>
                <p>Drivers</p>
            </div>

            <div class="card">
                <i class="fas fa-clock"></i>
                <h2>10</h2>
                <p>Pending</p>
            </div>

        </div>

    </div>
</section>

<!-- CONTACT -->
<section id="c" class="page contact">
    <div class="content">
        <h1>Contact Us</h1>

        <p><b>Email:</b> info@logistics.com</p>
        <p><b>Phone:</b> +91 98765 43210</p>
        <p><b>Location:</b> Tamil Nadu, India</p>

    </div>
</section>
{% if messages %}
    {% for message in messages %}
        <div id="msg" style="
        background:green;
        color:whie;
        padding:10px;
        text-align: center;
        ">{{ message }}</div>
    {% endfor %}
{% endif %}

<script>
setTimeout(() => {
    let msg=document.getElementById("msg");
    if(msg){
       msg.style.display = "none";
    }
}, 2000);
</script>

{% endblock %}
